@import url('https://fonts.googleapis.com/css?family=Fontdiner+Swanky');
.gameOver{
    text-align: center;
    font-size: 5vw;
    font-family: 'Fontdiner Swanky', cursive;
}
button{
    width: 40vw;
    font-size: 30px;
    background-color: rgb(255, 178, 17);
    height: 100px;
}